<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="crsf-param" content="authenticity_token">
    <meta name="crsf-token" content=>
    <link rel="stylesheet" media="all" href="/assets/application.css" date-turbolinks-track="reload">
    <script src="/"></script>
  </head>

  <body>
    <h1>
      ようこそ
      <strong>Bookers</strong>
      へ！
    </h1>
    <p>
      <strong>Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
      <a href"/books">start</a>
    </p>
  </body>
</html>